* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("https://myday.uz/userfiles/1818/images/xinl");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(3px);
}

.form-box {
    position: relative;
    width: 350px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 25px rgba(255, 204, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #ffcc00;
    font-size: 26px;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffcc00;
    color: white;
    font-size: 16px;
    outline: none;
}

.input-group label {
    position: absolute;
    left: 0;
    top: 10px;
    pointer-events: none;
    color: #ddd;
    transition: .3s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -12px;
    font-size: 13px;
    color: #ffcc00;
}

.btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    background: #ffcc00;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background: #e6b800;
    transform: scale(1.05);
}
